/*Stylesheet.css - made by Pankaj Bhambhani*/
body
{
background:url('bg1.png');
background-attachment:fixed;
} 
 
 .Item ,.Channel, .Rss
 {
 font-size:30;
 color:green;
 font-weight:bold;
 text-align:center;
 }
 
 .hider 
 {
 text-align:center;
 font-family:Tahoma;
 font-size:36;
 color:brown;
 }
 
 .hidden
 {
   color:black;
   font-size:20;
   font-weight:normal;
   text-align:justify;
 }
 
 